<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>SVG in HTML</title>
        <style>
            #svg-container {
                width: 100vw;
                height: 80vh;
            }
        </style>
    </head>

    <body>
        <form id="bandage">
            <section id="query">
                <p style="display:inline;">Query Input: </p>
                <label for="chr"></label>
                <input type="text" id="chr" placeholder="chr1">
                <p style="display:inline;">:</p>
                <label for="start-loc"></label>
                <input type="text" id="start-loc" placeholder="10000">
                <p style="display:inline;">-</p>
                <label for="end-loc"></label>
                <input type="text" id="end-loc" placeholder="20000">
            </section>
            <br>
            <section id="settings">
                <fieldset>
                    <legend>exact-overlap:</legend>
                    <label for="exact-overlap-true">Yes</label>
                    <input type="radio" id="exact-overlap-true" name="exact-overlap" value="1" checked>
                    <label for="exact-overlap-false">No</label>
                    <input type="radio" id="exact-overlap-false" name="exact-overlap" value="0">
                </fieldset>

                <fieldset>
                    <legend>debug small graphs:</legend>
                    <label for="debug-small-graphs-true">Yes</label>
                    <input type="radio" id="debug-small-graphs-true" name="debug-small-graphs" value="1">
                    <label for="debug-small-graphs-false">No</label>
                    <input type="radio" id="debug-small-graphs-false" name="debug-small-graphs" value="0" checked>
                </fieldset>

                <fieldset>
                    <legend>Graph Display</legend>
                    <label for="minnodelength">Minimum Node Length:</label>
                    <input type="number" id="minnodelength" value="5" min="1" max="100">
                    <label for="nodeseglen">Node Segment Length:</label>
                    <input type="number" id="nodeseglen" value="20" min="1" max="1000">
                    <label for="edgelen">Edge Length:</label>
                    <input type="number" id="edgelen" value="5" min="1" max="100">
                    <label for="nodelenpermb">Node Length per Megabase:</label>
                    <input type="number" id="nodelenpermb" value="1000" min="1000" max="1000000">
                </fieldset>

                <fieldset>
                    <legend>Node Legend</legend>
                    <label for="namelabel">name</label>
                    <input type="checkbox" id="namelabel" name="namelabel">
                </fieldset>
            </section>
            <section id="image">
                <input type="submit" id="generate-bandage" value="Generate Graph">
                <div id="svg-container"></div>
            </section>
        </form>
        <script>
            document.getElementById("bandage").addEventListener("submit", async(event) => {
                event.preventDefault();
                let chrInput = document.getElementById("chr").value;
                let startlocInput = document.getElementById("start-loc").value;
                let endlocInput = document.getElementById("end-loc").value;
                let debugSmallGraphRadios = document.getElementsByName("debug-small-graphs");
                let debugSmallGraph;
                let exactOverlapRadios = document.getElementsByName("exact-overlap");
                let exactOverlap;
                let minNodeLength = document.getElementById("minnodelength").value;
                let nodeSegLen = document.getElementById("nodeseglen").value;
                let edgeLen = document.getElementById("edgelen").value;
                let nodeLenPerMB = document.getElementById("nodelenpermb").value;
                let nameLabelCheckbox = document.getElementById("namelabel")
                let nameLabel

                if (debugSmallGraphRadios[0].checked) {
                    debugSmallGraph = debugSmallGraphRadios[0].value;
                } else {
                    debugSmallGraph = debugSmallGraphRadios[1].value;
                };

                if (exactOverlapRadios[0].checked) {
                    exactOverlap = exactOverlapRadios[0].value;
                } else {
                    exactOverlap = exactOverlapRadios[1].value;
                };

                if (nameLabelCheckbox.checked) {
                    nameLabel = 1;
                } else {
                    nameLabel = 0;
                }

                subgfaName = `subgraphGFA-${chrInput}-${startlocInput}-${endlocInput}`;
                let subgfa;
                
                if (localStorage.getItem(subgfaName) != null) {
                    subgfa = localStorage.getItem(subgfaName);
                } else {
                    let apiResponse = await fetch(`
                        http://0.0.0.0:8080/subgraph/gfa/?chrom=${chrInput}&start=${startlocInput}&end=${endlocInput}&graphtype=minigraph`
                    );
                    subgfa = await apiResponse.text();
                    localStorage.setItem(subgfaName, subgfa);
                };

                const settings = {
                    "gfa": subgfa,
                    "exact-overlap": exactOverlap, 
                    "debug-small-graph": debugSmallGraph, 
                    "minnodelength": minNodeLength, 
                    "nodeseglen": nodeSegLen, 
                    "edgelen": edgeLen, 
                    "nodelenpermb": nodeLenPerMB,
                    "namelabel": nameLabel
                };

                console.log(`subgraph gfa is ${new TextEncoder().encode(subgfa).length} bytes`);
                console.log(settings);

                const flaskResponse = await fetch("http://127.0.0.1:5000/generate-svg", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify(settings)
                })

                const responseContent = await flaskResponse.json();
                svgValue = responseContent.svg;
                
                document.getElementById("svg-container").innerHTML = svgValue;
                localStorage.setItem("bandage-svg", svgValue);
            })

            window.onload = function() {
                if (localStorage.getItem('bandage-svg')) {
                    let svgValue = localStorage.getItem('bandage-svg');
                    document.getElementById("svg-container").innerHTML = svgValue;
                }
            }
        </script>

    </body>
</html>